@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: "Montserrat", sans-serif;
  background: #0e0a27;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25;
}
h6 {
  font-size: 1rem;
}

h1,
h4,
p {
  line-height: 1rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
}

/* Utility classes */
.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 10px;
}

.large {
  font-size: 1.2rem;
}

.btn {
  display: inline-block;
  font-size: 18px;
  padding: 13px 20px;
}
.btn-red {
  background: #d00044;
  border-radius: 5px;
}

/* nav */
#navbar {
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#navbar .logo {
  float: left;
  padding-top: 16px;
  font-size: 25px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

/* showcase */
#showcase {
  text-align: center;
  padding: 100px 0;
}

#showcase img {
  width: 50%;
}
#showcase p {
  width: 50%;
  margin: 0 auto;
  padding: 40px 0;
}

#showcase a {
  width: 180px;
}

/* clientes */
#cliente {
  background-image: linear-gradient(to right, #1b33f0, #d0004a);
  padding-top: 50px;
  padding-bottom: 50px;
}

.cliente-box {
  float: left;
  width: 25%;
  text-align: center;
}

.cliente-box img {
  width: 70px;
}
